<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <!--Column1-->
          <div class="widget_title">
            CROWD-FUNDING
          </div>
          <div class="footer-pad">
            CROWD-FUNDING is a secure service dedicated to investments and donates
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Contact Us</h4>
            <ul class="list-unstyled contact_info">
              <li>
                <div class="single_info">
                  <div class="info">
                    <p><i class="fas fa-phone-alt"></i> &nbsp;
                      <a href="tel:+49152001213637">1800-121-3637</a></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single_info">
                  <div class="info">
                    <p><i class="fas fa-envelope"></i> &nbsp;
                      <a href="mailto:info@crowdfunding.de">info@crowdfunding.de</a></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single_info">
                  <div class="info">
                    <p> <i class="fas fa-map-marker-alt"></i> &nbsp;
                      Am Exer 12, 28302 Wolfenbuttel <span>Germany.</span></p>
                  </div>
                </div>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2021 - CROWD-FUNDING.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
