<footer class=" page-footer font-small teal pt-4 pb-4 pl-4">
  <div class="container-fluid text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">CROWD-FUNDING</h5>
        <p>CROWD-FUNDING is a secure service dedicated to investments and collecting donations. Thanks to its efficiency
        and ease of use, it allows associations and individuals to more easily collect donations by
        appealing to the generosity of internet users; and it allows any person or organization to voice a collective
        and concrete citizen opinion</p>
      </div>
      <!-- Copyright -->
      <div class="col-md-4 mb-md-0 mb-3 font-weight-bold" style="margin-left: 180px">© 2021 Copyright
      </div>
      <!-- Copyright -->
      <hr class="clearfix w-100 d-md-none pb-3">
    </div>
  </div>


</footer>

