<footer class="container page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">CROWD-FUNDING</h5>
        <p>CROWD-FUNDING is a secure service dedicated to investments and </p>
      </div>
      <!-- Copyright -->
      <div class="col-md-6 mb-md-0 mb-3">© 2021 Copyright
      </div>
      <!-- Copyright -->
      <hr class="clearfix w-100 d-md-none pb-3">
    </div>
  </div>


</footer>

