
<div class="container" id="main-container">
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="grid search">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-3">
              <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
              <hr>

              <!-- BEGIN FILTER BY CATEGORY -->
              <h4>By category:</h4>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Business</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Charity</label>
              </div>
              <!-- END FILTER BY CATEGORY -->

              <div class="padding"></div>

              <!-- BEGIN FILTER BY DATE -->
              <h4>By date:</h4>
              From
              <div class="input-group date form_date" data-date="2020-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                <input type="text" class="form-control">
                <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
              </div>
              <input type="hidden" id="dtp_input1" value="">

              To
              <div class="input-group date form_date" data-date="2021-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                <input type="text" class="form-control">
                <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
              </div>
              <input type="hidden" id="dtp_input2" value="">
              <!-- END FILTER BY DATE -->

              <div class="padding"></div>

            </div>
            <!-- END FILTERS -->
            <!-- BEGIN RESULT -->
            <div class="col-md-9">
              <h2><i class="fa fa-file-o"></i> List of Projects</h2>
              <hr>
              <!-- BEGIN SEARCH INPUT -->
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
              </div>
              <!-- END SEARCH INPUT -->

              <div class="padding"></div>

              <!-- BEGIN TABLE RESULT -->
              <div class="col-md col-md-pull-3">
                <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p>
                <section class="search-result-item">
                  <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                  </a>
                  <div class="search-result-item-body">
                    <div class="row">
                      <div class="col-sm-9">
                        <h4 class="search-result-item-heading"><a href="#">Ttile</a></h4>
                        <p class="info">11/30/2020</p>
                        <p class="description">This is the product description.</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                        <p class="value3 mt-sm">$9, 700</p>
                        <p class="fs-mini text-muted">Charity</p><a class="btn btn-primary btn-info btn-sm" routerLink="/user">Learn More</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5 input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" ngModel name="price" min="0.00" step="1.00" value="1.00" class="form-control" id="price" placeholder="$0.00">
                      </div>
                      <div class="col-sm-5 button-group">
                          <span class="pull-right">
                            <a href="#donate">Donate</a>

                          </span>
                        <span>
                            <a href="#invest">Invest</a>
                          </span>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="search-result-item">
                  <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                  </a>
                  <div class="search-result-item-body">
                    <div class="row">
                      <div class="col-sm-9">
                        <h4 class="search-result-item-heading"><a href="#">Ttile</a></h4>
                        <p class="info">11/30/2020</p>
                        <p class="description">This is the product description.</p>
                      </div>
                      <div class="col-sm-3 text-align-center">
                        <p class="value3 mt-sm">$9, 700</p>
                        <p class="fs-mini text-muted">Charity</p><a class="btn btn-primary btn-info btn-sm" routerLink="/details">Learn More</a>
                      </div>
                      <div class="row">
                        <div class="col-sm-5 input-group">
                          <div class="input-group-addon">$</div>
                          <input type="number" ngModel name="price" min="0.00" step="1.00" value="1.00" class="form-control" id="price" placeholder="$0.00">
                        </div>
                        <div class="col-sm-5 button-group">
                            <span class="pull-right">
                              <a href="#donate">Donate</a>

                            </span>
                          <span>
                              <a  href="#invest">Invest</a>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div class="text-align-center">
                  <ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">Prev</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- END TABLE RESULT -->




              <!-- BEGIN PAGINATION -->
              <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
              <!-- END PAGINATION -->
            </div>
          </div>
            <!-- END RESULT -->
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH RESULT -->
  </div>












