<app-nav-user> </app-nav-user>

<section class="container" id="container" style="margin-top: 80px">
    <div class="row">
      <div class="col-md-12">

            <div class="d-flex flex-row ">

              <div class="col-md-3 mt-3">
                <div class="row d-flex justify-content-end">
                  <button type="button" class="btn btn-lg btn-block" routerLink="myProjects" >View My Projects</button>
                </div>

                <div class="row d-flex justify-content-end">
                  <button type="button" class="btn btn-lg btn-block investments" routerLink="myInvestments">View My Investments</button>
                </div>

                <div class="row d-flex justify-content-end">
                  <button type="button" class="btn btn-lg btn-block" routerLink="newProjects">Explore New Projects</button>
                </div>

                <div class="row d-flex justify-content-end">
                  <button type="button" class="btn btn-lg btn-block" routerLink="/newAnouncement"> New Anouncement</button>
                </div>
              </div>

              <div class="col-md-8 ml-5 mt-3">
                <router-outlet></router-outlet>
              </div>

            </div>





      </div>
    </div>
</section>
