<!-- BEGIN RESULT -->
<div >
  <div class="col-md-8 ml-5">

    <div class="mt-3">
      <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-filter" aria-hidden="true"></i>
        Filter Projects</a>

      <div class="collapse" id="collapseExample">
        <div class=" m-4">
          <div class="row">
            <div><span style="font-weight:bold">Category :</span></div>
            <div class="ml-5 mt-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="business" id="inlineCheckbox1"
                       (change)="onChange($event)" value="business">
                <label class="form-check-label" for="inlineCheckbox1">Business</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="charity" id="inlineCheckbox2"
                       (change)="onChange($event)" value="charity">
                <label class="form-check-label" for="inlineCheckbox2">Charity</label>
              </div>
            </div>
          </div>
        </div>
        <div class="m-4">
          <div class="row">
            <div><span style="font-weight:bold">Date :</span></div>
            <div class="row ml-5">
              <div class="row">
                <div><span>From</span></div>
                <div class="col-md-8">
                  <div class="input-group date form_date" data-date="2020-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                    <input type="date" class="form-control" name="startDate"
                           id="startDateInput" (change)="onStartDateChange($event)" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div><span>To</span></div>
                <div class="col-md-8">
                  <div class="input-group date form_date " data-date="2021-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                    <input type="date" class="form-control" placeholder="10/12/2021" name="endDate"
                           id="endDateInput" (change)="onEndDateChange($event)"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="padding"></div>

  <!-- BEGIN TABLE RESULT -->
  <div *ngFor="let project of projects">
    <section>
      <div class="project-img"><img class="image" src="{{project.imgUrl}}"></div>

      <div class="project-body">
        <div class="d-flex flex-row">
          <div class="col-md-8 ml-4">
            <h3 >{{project.name}}</h3>
            <p>{{getDate(project.creationDate)}}</p>
            <div>
            <p class="description" style="word-wrap: break-word;">{{project.shortIdea}}</p>
            </div>
          </div>
          <div class="col-md-3 ml-5">
            <p class="mt-sm" style="font-weight: bold">{{project.fundGoal}}$</p>
            <p class="text-muted category">{{project.category}}</p>
            <a class="btn btn-primary btn-info btn-sm" [routerLink]="['/projects', project.id]">Learn More</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- END TABLE RESULT -->
