<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<app-nav-component></app-nav-component>
<div class="background" id="main-container">

  <div class="project_header container">
      <p class="project_title">MUSIC DESEGREGATION - Master Christopher's New Visual Album</p>
      <p style="font-size: 16px;text-align: center">This album, built around an inspiring message, will break boundaries by merging Percussion, Jazz, and Classical music with Rap.</p>

      <div class="d-flex flex-row pt-5">

        <div class="img p-4">
          <img src="/assets/images/music.jpg" width="650" height="300">
        </div>

        <div  class="d-flex flex-column">

        <div class="text-center informations p-4 d-flex flex-row">
          <div class="mt-4"><i class="fa fa-user-plus" aria-hidden="true" style="font-size: 30px;color: gray"></i></div>
          <div class="d-flex flex-column pl-1">
            <div class="p-1"> <span class="contributions_number">220</span></div>
            <div class="p-1"><p>Contributions</p></div>
          </div>
          <div class="price-info d-flex flex-row p-2">
            <div class="p-2"> <span class="price">9800</span></div>
            <div class="p-3"><i class="fa fa-usd" aria-hidden="true" style="font-size: 25px"></i></div>
          </div>
        </div>

        <div class="p-2">
          <form>
            <div class="form-group">
              <input type="number" class="form-control form-control-lg" id="prix" aria-describedby="emailHelp" placeholder="Starting from 1$">
            </div>
            <div class="submit-buttons d-flex flex-row">
              <button type="submit" class="btn btn-primary btn-lg btn-block" >Invest</button>
              <button type="submit" class="btn btn-primary btn-lg btn-block" >Donate</button>
            </div>
          </form>
        </div>
        </div>
      </div>
  </div>
</div>

<section>
  <div class="links mt-3">

    <!-- <button class="btn" routerLink="/details"> Idea</button>
     <button class="btn" (click)="scroll(target)"> Anouncements</button>-->
  </div>
  <section class="project-details">
    <div class="container">
      <div class="d-flex flex-row mt-5">




          <div class="project_desc  col-md-7">

            <p>
              From the very beginning, we set out to make a puzzle that would last virtually forever–
              an heirloom that can be passed on from generation to generation.


              Mechanism:
              We designed the Torshn Puzzle to be as simple as possible to avoid any complications over time.
              The cavities through which the marbles move are milled from a solid chunk of aluminum.
              The precision and smoothness of the cavities prevent the marbles from getting worn down,
              and the sturdiness of the cavities themselves mean that they won't get eroded by glass marbles either.
              The spinning mechanism of the Torshn Puzzle is made possible by rare earth neodymium magnets,
              which are permanent magnets and only lose a fraction of their performance every 100 years.

              Mechanism:
              We designed the Torshn Puzzle to be as simple as possible to avoid any complications over time.
              The cavities through which the marbles move are milled from a solid chunk of aluminum.
              The precision and smoothness of the cavities prevent the marbles from getting worn down,
              and the sturdiness of the cavities themselves mean that they won't get eroded by glass marbles either.
              The spinning mechanism of the Torshn Puzzle is made possible by rare earth neodymium magnets,
              which are permanent magnets and only lose a fraction of their performance every 100 years.

            </p>

        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body overflow-scroll" style="max-height: 500px;overflow-y: auto">
              <h5 class="card-title">ANOUNCEMENTS</h5>

              <div class="card p-2">
                <div class="card-body">
                  <h5 class="card-title">Project title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">16/04/2021</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card p-2">
                <div class="card-body">
                  <h5 class="card-title">Project title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">16/04/2021</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card p-2">
                <div class="card-body">
                  <h5 class="card-title">Project title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">16/04/2021</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
