.navbar{
  background-color: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80px;
}
.navbar-brand{
  font-family:  "Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
  font-size: 1.3em;
}
.navbar-brand .user{
  font-size: 0.5em!important;
  text-transform: lowercase!important;
}
.nav-link{
  margin-left: 10px;
  padding: 8px;
  font-size: 1.1em;
  width: 120px;
  color: black;
}
.nav-link:hover{
  background-color: #FFDAB9;
  border-radius: 36px;
  color: white!important;
}
.register-btn{
  background-color: #FFDAB9;
  border-radius: 36px;
  color: white!important;
  text-transform: uppercase;
}
.register-btn:hover{
  background-color:#FC9983;
}
.fa{
  font-size: 15px;
  margin-right: 5px;
}
.fa-bell:hover,.fa-comment:hover{
  color: #FC9983;
}
.user-dropdown .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}
.dropdown-toggle{
  padding: 8px;
  font-size: 1.1em;
  width: 120px;
  color: black;
}
.dropdown-menu a{
  padding: 8px;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
.dropdown-menu a:hover{
  color: #FFDAB9;
}
.dropdown a:hover{
  color: #FC9983;
}
