<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand btn" routerLink="/index">Crowd-Funding </a>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="margin-right: 30px">
        <a class="nav-link" routerLink="/newProject" style="width: 160px;text-align: center"><i class="fa fa-plus" aria-hidden="true"></i>
          Start a Project</a>
      </li>
      <li class="nav-item mr-3">
        <a class=" btn"  ><i class="fa fa-bell" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item mr-3">
        <a class=" btn"  ><i class="fa fa-comment" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link btn register-btn">Sign Out <!--<span class="sr-only">(current)</span>--></a>
      </li>
    </ul>
  </div>
</nav>
